@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 1280px;
  height: 800px;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border: 10px solid #1C2E3D;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}